[defaults]
inventory=/home/ubuntu/rhel-ansible-lab/inventory/hosts.ini
remote_user=ubuntu
roles_path=/home/ubuntu/rhel-ansible-lab/roles
private_key_file=/home/ubuntu/.ssh/ansible-pair-key.pem
host_key_checking=False

[privilege_escalation]
become=true
become_ask_pass=false
become_user=root
become_method=sudo
